@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=McLaren&display=swap');
:root {
    --cor-de-fundo: #1048bb;
    --roxo: #eb57ff;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: #3a375e80;
    --texto-fundo: #3a375e4d;
}

body {
    background-image:  url("img/euro.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: var(--branco);
    
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
    font-family: 'McLaren';
}

.titulo-principal span {
    color: var(--roxo);
}

/* Adaptação Europa*/

.div-imagem-principal .imagem-principal{
    width: 380px;
    text-align: center;
}

.subtitulo-principal{
    color: #fdd204;
    text-align: center;
    font-size: 20px;
    font-family:"McLaren" ;
}
#regressiva{
    color: var(--branco);
}

.botao {
    font-family: "Encode+Sans+Semi+Condensed";
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;

    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;

}
.conteudo{
   
    
}
.botoes {
    display: block;
    
    

}

.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--roxo);
}

.abas-textos{
    background-color: var(--texto-fundo);
    padding: 20px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{
    display: block; /*Mostra a aba ativa*/
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color:var(--roxo);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 40px 0 0;

    }
}
@media screen and (min-width: 768px) {
    .botoes {
            display: flex;
    }

    .botao:first-child {
            border-radius: 40px 0 0 0;
     }

    .botao:last-child {
            border-radius: 0 40px 0 0;
     }
 }
